{% extends "operator_base.html" %}
{% load static %}
{% block title %}管理者アカウント削除{% endblock %}
{% block content %}
<div class="content-container">
    <h1>管理者アカウント削除</h1>
    <p>本当にこの管理者アカウントを削除してもよろしいですか？</p>

    <form action="{% url 'operator_accounts:account_delete_success' %}" method="GET" class="form-container">
        {% csrf_token %}
        <input class="btn btn-delete" type="submit" value="削除" />
        <a href="{% url 'operator_accounts:account_list' %}" class="btn btn-cancel">
            キャンセル
        </a>
    </form>
</div>
{% endblock %}