{% extends "operator_base.html" %}
{% load static %}
{% block title %}管理者アカウント一覧{% endblock %}
{% block content %}
<body>  
    <div class="content">
        <h1 style="color:white; text-shadow:0 0 8px black;">管理者アカウント画面</h1>
            <div class="menu-grid">
                <div class="menu-card" onclick="location.href='{% url 'operator_accounts:account_create' %}'">
                    <i class="material-symbols-outlined">home</i> 新規登録
                </div>
                <div class="menu-card" onclick="location.href='{% url 'operator_accounts:account_delete' %}'">
                    <i class="material-symbols-outlined">home</i> 削除
                </div>
            </div>
    </div>

</body>
{% endblock %}