{% extends "operator_base.html" %}
{% block content %}
<h1>管理者アカウント登録</h1>

<form method="POST"  class="form-container">
    {% csrf_token %}
    {% if form.errors %}
    <div style="background: #ffdada; padding: 10px; border: 1px solid red; margin-bottom: 20px;">
        <p>エラーが発生しています：</p>
        <ul>
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|striptags }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
    {% if form.managed_castles.errors %}
        <div class="alert alert-danger" style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 10px;">
            {{ form.managed_castles.errors }}
        </div>
    {% endif %}

    <input type="account_name" name="account_name" placeholder="アカウント名" required>
    <input type="text" name="username" placeholder="ID" required>
    <input type="password" name="password" placeholder="Pass" required>
    <input type="email" name="email" placeholder="Email" required>
    

    <hr>
    <h3>担当お城の選択（最大5つ）</h3>
    
    {% for i in "12345" %}
    <div class="my-custom-wrapper">
        <label>担当お城 {{ forloop.counter }}</label>
        <select name="managed_castles" class="form-control">
            <option value="none">お城を選択しない</option>
            {% for oshiro in castle_list %}
                <option value="{{ oshiro.id }}">
                    {{ oshiro.oshiro_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% endfor %}

    <input class="btn btn-register" type="submit" value="登録" />
    <a href="{% url 'operator_accounts:account_list' %}" class="btn btn-cancel">
            戻る
        </a>
</form>
{% endblock %}