{% extends "operator_base.html" %}
{% load static %}
{% block title %}管理者アカウント登録{% endblock %}
{% block content %}


    <h1>管理者アカウント登録</h1>

    <form method="POST" class="form-container">
        {% csrf_token %}
        <!-- 
        {% for field in form %}
        <div class="my-custom-wrapper">
            <label class="my-label">{{ field.label }}</label>
            {{ field }}  {% if field.errors %}
                <div class="error-text">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %} -->
    <div class="my-custom-wrapper">
        <label class="my-label">{{ form.username.label }}</label>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="error-text">{{ form.username.errors }}</div>
        {% endif %}
    </div>

    <div class="my-custom-wrapper">
        <label class="my-label">{{ form.password.label }}</label>
        {{ form.password }}
        {% if form.password.errors %}
            <div class="error-text">{{ form.password.errors }}</div>
        {% endif %}
    </div>

    <div class="my-custom-wrapper">
        <label class="my-label">{{ form.managed_castles.label }}</label>
        <div class="castle-box">
            {{ form.managed_castles }}
        </div>
        {% if form.managed_castles.errors %}
            <div class="error-text">{{ form.managed_castles.errors }}</div>
        {% endif %}
    </div>
    <input class="btn btn-register" type="submit" value="登録" />
</div>

{% endblock %}