{% extends "operator_base.html" %}
{% load static %}
{% block title %}運営TOP{% endblock %}
{% block content %}
    <body>
    <!-- メイン -->
    <div class="content">
        <h1 style="color:white; text-shadow:0 0 8px black;">運営 TOP</h1>

        <div class="menu-grid">
            <div class="menu-card" onclick="location.href='../お城情報機能/oshiro_info_list.html'">
                <i class="material-symbols-outlined">edit_document</i> お城情報機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'event_info_management:event_info_list' %}'">
                <i class="material-symbols-outlined">calendar_month</i> イベント情報機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'operator_accounts:account_list' %}'">
                <i class="material-symbols-outlined">manage_accounts</i> アカウント機能
            </div>
        </div>

        <!-- お問い合わせ -->
        <div class="contact-box">
            <a href="../お問い合わせ/contact.html" class="contact-btn">管理者からのお問い合わせ</a>
        </div>
    </div>

    </body>
{% endblock %}