{% extends 'operator_base.html' %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block content %}

<div class="content-container">
    <form action="{% url 'operator_accounts:contact_confirm' %}" method="GET" enctype="multipart/form-data">
        <h1 class="title text-center mb-4">お問い合わせ文</h1>
        <p>----------------------</p>
		<h1 class="title text-center mb-4">返信</h1>

			<!-- Name -->
			<div class="form-group position-relative">
				<label for="formName" class="d-block">
					<i class="icon" data-feather="user"></i>
				</label>
				<input type="text" id="formName" class="form-control form-control-lg thick" placeholder="Name">
			</div>

			<!-- E-mail -->
			<div class="form-group position-relative">
				<label for="formEmail" class="d-block">
					<i class="icon" data-feather="mail"></i>
				</label>
				<input type="email" id="formEmail" class="form-control form-control-lg thick" placeholder="E-mail">
			</div>

			<!-- Message -->
			<div class="form-group message">
				<textarea id="formMessage" class="form-control form-control-lg" rows="7" placeholder="Mensagem"></textarea>
			</div>
		
			<!-- Submit btn -->
			<div class="text-center">
				<button type="submit" class="btn btn-register" tabIndex="-1">送る</button>
			</div>
	</form>
</div>
{% endblock %}
