{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="{% static 'css/admin_op_base.css' %}">
</head>

<body> 
<div class="login_container">
    <h1>運営アカウントに<br>ログインしてください</h1>

    {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}

    <form class="login_form" action="{% url 'operator_accounts:operator_login' %}" method="POST">
        {% csrf_token %}
        
        <span class="login-span">
            <label for="id" class="label">ID</label>
            <input type="text" name="id" id="id" value="{{ prev_id|default:'' }}" required/>
        </span>
        
        <span class="login-span">
            <label for="pass" class="label">Pass</label>
            <input type="password" name="pass" id="pass" required/>
        </span>
        <input class="btn btn-register" type="submit" value="Login" />
    </form>
</div>

</body>
</html>
