{% extends "admin_base.html" %}

{% block title %}お城スタンプ一覧{% endblock %}

{% block content %}
<div class="content-container">
    <h1>お城スタンプ一覧</h1>
    <hr style="width: 80%;">
    
    <table class="admin-table">
        <thead>
            <tr>
                <th>対象のお城</th> 
                <th>スタンプ名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for stamp in stamps %}
            <tr>
                <td>{{ stamp.oshiro_info.oshiro_name }}</td>
                <td>{{ stamp.stamp_name }}</td>
                <td>
                    <a href="{% url 'admin_oshiro_stamp:oshiro_stamp_update' stamp.id %}" class="btn btn-update">更新</a>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}