{% extends 'admin_base.html' %}
{% load static %}
{% block title %}周辺MAP情報{% endblock %}
{% block content %}



    <h1>メイン部分（周辺MAP情報更新画面）</h1><br>
        
        
    鶴ヶ城<br>
    <ul>
        <a href= "{% url 'admin_area_map:area_map_info_update_success' %}" class="update-btn">
            <span class="link_name">更新</span>
        </a>       
    </ul>

    <ul>
        <a href= "{% url 'admin_area_map:area_map' %}" class="register-btn">
            <span class="link_name">戻る</span>
        </a>       
    </ul>
        
    
{% endblock %}