{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}運営画面{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/admin_op_base.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>

<!-- ▼ サイドバー（共通） ▼ -->
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <a href="" class="logo_name">運営用画面</a>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>

    <ul class="nav">

        <li>
            <a href="{% url 'operator_accounts:top' %}">
                <i class="material-symbols-outlined">home</i>
                <span class="link_name">運営TOP画面</span>
            </a>
            <span class="tooltip">運営TOP画面</span>
        </li>

        <li>
            <a href="{% url 'operator_oshiro_info:list' %}">
                <i class="material-symbols-outlined">edit_document</i>
                <span class="link_name">お城情報機能</span>
            </a>
            <span class="tooltip">お城情報機能</span>
        </li>

        <li>
            <a href="{% url 'event_info_management:event_info_list' %}">
                <i class="material-symbols-outlined">calendar_month</i>
                <span class="link_name">イベント情報機能</span>
            </a>
            <span class="tooltip">イベント情報機能</span>
        </li>

        <li>
            <a href="{% url 'operator_accounts:account_list' %}">
                <i class="material-symbols-outlined">manage_accounts</i>
                <span class="link_name">アカウント機能</span>
            </a>
            <span class="tooltip">アカウント機能</span>
        </li>

    </ul>
</div>
<!-- ▲ サイドバー（共通） ▲ -->


<!-- ▼ ページごとの中身を入れる部分 ▼ -->
<div class="home_content" id="no name">
    {% block content %}
    {% endblock %}
</div>
<!-- ▲ ページごとの中身 ▲ -->

</body>
</html>
