{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}利用者画面{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/user_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/audio_guide.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    
    <style>
        .user-icon-img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
            vertical-align: middle;
            margin-right: 5px;
        }
    </style>
</head>

<body> 
<div class="user-container">
    <div class="logo_content">
        <a href="{% url 'user_accounts:top' %}" class="logo">
            <img src="{% static 'image/top_logo.png' %}" alt="お城ナビロゴ" class="logo_img">
        </a>
    </div>
    <header class="header">



        <!-- スマホ用メニューアイコン -->
        <div class="menu-icon" id="menu-toggle">
            <span class="material-symbols-outlined" id="menu-icon-text">
            menu
            </span>
        </div>
    </header>

            <!-- ナビゲーションバー -->
        <nav class="mobile-nav" id="mobile-nav">
        <ul>
            <li>
            <a style="background-color: white;" href="{% url 'user_accounts:top' %}" class="logo">
                <img src="{% static 'image/top_logo.png' %}" alt="お城ナビロゴ" class="logo_img">
            </a>
            </li>
            <li>
            <a href="{% url 'usermy_list:oshirolist' %}">
                <i class="material-symbols-outlined">manage_search</i>
                <span class="link_name">お城リスト</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_event_info:event_info' %}">
                <i class="material-symbols-outlined">calendar_month</i>
                <span class="link_name">イベント</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_model_course:modelcoursechoose' %}">
                <i class="material-symbols-outlined">alt_route</i> 
                <span class="link_name">モデルコース</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_audio_guide:qr_scan' %}">
                <i class="material-symbols-outlined">qr_code_2_add</i>
                <span class="link_name">QRコード読み込み</span>
            </a>
        </li>
        <span>マイページ</span>
        <li><a href="{% url 'usermy_page:profile' %}">プロフィール</a></li>
        <li><a href="{% url 'usermy_page:oshirostampregistar' %}">お城スタンプ</a></li>
        <li><a href="{% url 'usermy_page:mylistregistar' %}">お城マイリスト</a></li>
        <li><a href="{% url 'user_accounts:logout_check' %}">ログアウト</a></li>
        </ul>
        </nav>

    <ul class="nav">
        <li>
            <a href="{% url 'usermy_list:oshirolist' %}">
                <i class="material-symbols-outlined">manage_search</i>
                <span class="link_name">お城リスト</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_event_info:event_info' %}">
                <i class="material-symbols-outlined">calendar_month</i>
                <span class="link_name">イベント</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_model_course:modelcoursechoose' %}">
                <i class="material-symbols-outlined">alt_route</i> 
                <span class="link_name">モデルコース</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_audio_guide:qr_scan' %}">
                <i class="material-symbols-outlined">qr_code_2_add</i>
                <span class="link_name">QRコード読み込み</span>
            </a>
        </li>
    </ul>

    <div class="dropdown">
        <a href="#" class="dropdown-btn" id="menuTrigger">
            {% if user.is_authenticated and user.user_profile.profile_image %}
                <img src="{{ user.user_profile.profile_image.url }}" alt="ユーザーアイコン" class="user-icon-img">
            {% else %}
                <i class="material-symbols-outlined">account_circle</i>
            {% endif %}
            <span class="link_name">マイページ</span>
        </a>

        <ul class="dropdown-menu" id="dropdownMenu">
            <li><a href="{% url 'usermy_page:profile' %}">プロフィール</a></li>
            <li><a href="{% url 'usermy_page:oshirostampregistar' %}">お城スタンプ</a></li>
            <li><a href="{% url 'usermy_page:mylistregistar' %}">お城マイリスト</a></li>
            <li><a href="{% url 'user_accounts:logout_check' %}">ログアウト</a></li>
        </ul>
    </div>
</div>

<div class="home_content" id="no name">
    {% block content %}
    {% endblock %}
</div>



<script src="{% static 'JS/user.js' %}"></script>
</body>
<footer class="footer">
    <div class="footer-inner">

        <div class="footer-section">
            <h3>お城ナビ</h3>
            <p>あなたと名城を、もっと近くに。</p>
        </div>
    </div>
    <p class="copyright">
        © お城ナビ 日本お城情報サイト
    </p>
</footer>
</html>