{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}利用者画面{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/user_base.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>
<!-- コンテナ! -->
<div class="user-container">
    <div class="logo_content">
        <div class="logo">
            <img src="{% static 'image/お城ナビアイコン.png' %}" alt="お城ナビロゴ" class="logo_img">
        </div>
    </div>

    <ul class="nav">
    <li>
        <a href="">
            <i class="material-symbols-outlined">manage_search</i>
            <span class="link_name">お城リスト</span>
        </a>
    </li>

        <li>
            <a href="">
                <i class="material-symbols-outlined">calendar_month</i>
                <span class="link_name">イベント</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="material-symbols-outlined">alt_route</i> 
                <span class="link_name">モデルコース</span>
            </a>
        </li>
        <li>
            <a href="../音声ガイド機能/qr_generetor.html">
                <i class="material-symbols-outlined">qr_code_2_add</i>
                <span class="link_name">QRコード読み込み</span>
            </a>
        </li>
    </ul>
    <div class="dropdown">
        <a href="" class="dropdown-btn">
            <i class="material-symbols-outlined">account_circle</i>
            <span class="link_name">マイページ</span>
        </a>

        <!-- ▼ ドロップダウンメニュー ▼ -->
        <ul class="dropdown-menu">
            <li><a href="/account/profile/">プロフィール</a></li>
            <li><a href="/castle/stamp/">お城スタンプ</a></li>
            <li><a href="/castle/mylist/">お城マイリスト</a></li>
            <li><a href="/logout/">ログアウト</a></li>
        </ul>
    </div>
</div>

<!-- ▲ サイドバー（共通） ▲ -->


<!-- ▼ ページごとの中身を入れる部分 ▼ -->
<div class="home_content" id="no name">
    {% block content %}
    {% endblock %}
</div>
<!-- ▲ ページごとの中身 ▲ -->

<script src="{% static 'JS/user.js' %}"></script>

</body>
</html>


