{% extends "user_base.html" %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block content %}

    <div class="mypage-container">
        <h1 class="page-title">マイページ</h1>

        
        <div class="simple-menu-list">
            
            <a href="{% url 'usermy_page:profile' %}" class="simple-menu-btn">
                プロフィール
            </a>
            
            <a href="{% url 'usermy_page:oshirostampregistar' %}" class="simple-menu-btn">
                お城スタンプ
            </a>
            
            <a href="{% url 'usermy_page:mylistregistar' %}" class="simple-menu-btn">
                お城マイリスト
            </a>

            <a href="{% url 'user_accounts:logout_check' %}" class="simple-menu-btn">
                ログアウト
            </a>

        </div>
    </div>

{% endblock %}