{% extends "admin_base.html" %}
{% block title %}モデルコース一覧{% endblock %}
{% block content %}

<div class="content-container basic-info-list">
    <h1>モデルコース一覧</h1>
    <hr style="width: 100%;">
    <p>モデルコース一覧です</p>

        <a href="{% url 'admin_model_course:model_couse_registar' %}">新規登録</a>

        <hr>

        <div>
            <div>
                <span>見どころ3スポット巡り</span>
                <a class="btn btn-register" href="{% url 'admin_model_course:model_couse_update' %}" >編集</a>
            </div>
            <hr>

            <div>
                <span>天守＆本丸コース</span>
                <a class="btn btn-register" href="{% url 'admin_model_course:model_couse_update' %}">編集</a>
            </div>
            <hr>

            <div>
                <span>歴史じっくり散策コース</span>
                <a class="btn btn-register" href="{% url 'admin_model_course:model_couse_update' %}">編集</a>
            </div>
        </div>
    </div>

{% endblock %}
