{% extends 'admin_base.html' %}
{% load static %}
{% block title %}管理者TOP画面{% endblock %}
{% block content %}


    <!-- メイン -->
    
        <h1>管理者 TOP</h1>

        <div class="menu-grid">
            <div class="menu-card" onclick="location.href='{% url 'admin_basic_info:basic_info_list' %}'">
                <i class="material-symbols-outlined">edit_document</i> 基本情報機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'admin_area_map:area_map' %}'">
                <i class="material-symbols-outlined">map_pin_review</i> 周辺MAP<br>機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'event_info_management:admin_event_info_list' %}'">
                <i class="material-symbols-outlined">calendar_month</i> イベント情報<br>機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'admin_audio_guide:audio_guide' %}'">
                <i class="material-symbols-outlined">record_voice_over</i> 音声ガイド<br>機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'admin_oshiro_stamp:oshiro_stamp_registar' %}'">
                <i class="material-symbols-outlined">approval</i> お城スタンプ機能
            </div>
            <div class="menu-card" onclick="location.href='{% url 'admin_model_course:model_couse_list' %}'">
                <i class="material-symbols-outlined">alt_route</i> モデルコース
            </div>
            <div class="menu-card" onclick="location.href='{% url 'admin_audio_guide:qr_generetor' %}'">
                <i class="material-symbols-outlined">qr_code_2_add</i> QRコード<br>生成
            </div>
        </div>

        <!-- お問い合わせ -->
        <div class="contact-box">
            <a href="{% url 'admin_accounts:contact' %}" class="contact-btn">運営へのお問い合わせ</a>
        </div>

    


{% endblock %}
