{% extends 'admin_base.html' %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block content %}

<div class="content-container">
	<form action="{% url 'admin_accounts:contact_confirm' %}" method="GET" enctype="multipart/form-data">
		<h1 class="title text-center mb-4">お困りでしょうか</h1>

			<!-- E-mail -->
			<div class="form-group position-relative">
				<label for="formEmail" class="d-block">
					<i class="icon" data-feather="mail"></i>
				</label>
				<input type="email" id="formEmail" class="form-control form-control-lg thick" placeholder="E-mail">
			</div>
            
			<!-- 件名 -->
			<div class="form-group position-relative">
				<label for="formSubject" class="d-block">
					<i class="icon" data-feather="mail"></i>
				</label>
				<input type="text" id="formSubject" class="form-control form-control-lg thick" placeholder="件名">
			</div>

			<!-- お問い合わせ内容 -->
			<div class="form-group message">
				<textarea id="formMessage" class="form-control form-control-lg" rows="7" placeholder="お問い合わせ内容"></textarea>
			</div>
		
			<!-- Submit btn -->
			<div class="text-center">
				<button type="submit" class="btn btn-register" tabIndex="-1">送る</button>
			</div>
	</form>
</div>
{% endblock %}
