{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="{% static 'css/admin_op_base.css' %}">
</head>

<body> 
    <div class="login_container">
        <h1>管理者アカウントに<br>ログインしてください</h1>
        <form class="login_form" action="{% url 'admin_accounts:top' %}" method="GET" enctype="multipart/form-data">
            <span class="login-span">
                <label for="id" class="label">ID</label>
                <input type="text" name="id" id="id"/></span>
            <span class="login-span">
                <label for="pass" class="label">Pass</label>
                <input type="pass" name="pass" id="pass"/></span>
            <span class="span"><a href="#">パスワードを忘れましたか?</a></span>
            <input class="btn btn-register" type="submit" value="Login" />
        </form>
    </div>

</body>
</html>
