{% extends 'admin_base.html' %}
{% load static %}
{% block title %}音声ガイド{% endblock %}
{% block content %}


    <h1>メイン部分（音声ガイド削除画面）</h1><br>
        
        
    鶴ヶ城<br>

    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide_delete_success' %}" class="register-btn">
            <span class="link_name">削除</span>
        </a>       
    </ul>

    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide' %}" class="register-btn">
            <span class="link_name">戻る</span>
        </a>       
    </ul>


{% endblock %}