{% extends "admin_base.html" %}
{% block title %}音声ガイド削除確認{% endblock %}

{% block content %}
<div class="content-container">

    <h2>音声ガイド削除確認</h2>
    <hr style="width: 80%;">
<div class="form-group">
    <!-- 対象のお城 -->
    <p>
        <strong>対象のお城：</strong>
        {{ audio_guide.oshiro_info.oshiro_name }}
    </p>

    
        <p>
            <strong>音声ガイドタイトル：</strong><br>
            {{ audio_guide.title }} 
        </p>
    


        <p>
            <strong>ガイド説明：</strong><br>
            {{ audio_guide.guide_explanation|linebreaksbr }} 
        </p>
</div>


    <!-- 確認メッセージ -->
    <p style="color: red; font-weight: bold;">
        ※ この音声ガイドを削除すると元に戻せません。本当に削除しますか？
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <button type="submit" class="btn btn-delete">
                削除する
            </button>

            <a href="{% url 'admin_audio_guide:audio_guide_list' oshiro_id %}"class="btn btn-cancel">
                キャンセル
            </a>
        </div>
    </form>

</div>
{% endblock %}
