{% extends 'admin_base.html' %}
{% load static %}
{% block title %}音声ガイド機能{% endblock %}
{% block content %}



    <h1>メイン部分（音声ガイド機能画面）</h1>
        
        
    鶴ヶ城<br>
    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide_registar' %}" class="register-btn">
            <span class="link_name">追加</span>
        </a>       
    </ul>

    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide_update' %}" class="update-btn">
            <span class="link_name">更新</span>
        </a>       
    </ul>

    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide_delete' %}" class="delete-btn">
            <span class="link_name">削除</span>
        </a>       
    </ul>
        



{% endblock %}
