{% extends 'admin_base.html' %}
{% load static %}
{% block title %}音声ガイド{% endblock %}
{% block content %}
<div class="content-container">

    <h1>メイン部分（音声ガイド登録画面）</h1><br>
        
        
    

    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide_registar_success' %}" class="btn btn-register">
            <span class="link_name">登録</span>
        </a>       
    </ul>

    <ul>
        <a href= "{% url 'admin_audio_guide:audio_guide' %}" class="btn btn-cancel">
            <span class="link_name">戻る</span>
        </a>       
    </ul>
</div>

{% endblock %}