{% extends "admin_base.html" %}
{% block title %}音声ガイド一覧{% endblock %}

{% block content %}
<div class="content-container">
<h2>音声ガイド一覧</h2>
<hr style="width: 80%;">
<table border="1" cellpadding="8" cellspacing="0">
<thead>
    <tr>
    <th>お城名</th>
    <th>操作</th>
    </tr>
</thead>
<tbody>
    {% for row in rows %}
    <tr>
        <td>{{ row.oshiro.oshiro_name }}</td>

        <td>
        <a href="{% url 'admin_audio_guide:audio_guide_update' %}?oshiro_id={{ row.oshiro.id }}" class="btn btn-update">
            <span class="btn btn-edit">編集</span>
        </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock %}