{% extends "admin_base.html" %}
{% block title %}音声ガイド新規登録{% endblock %}

{% block content %}
<div class="content-container">

    <h1>音声ガイド新規登録</h1>
    <hr style="width:80%; margin-bottom: 10px; margin-top: 10px;">

    <!-- 選択中のお城表示 -->
    <p>
        <strong>対象のお城：</strong>
        {{ oshiro.oshiro_name }}
    </p>

    <form method="post">
        {% csrf_token %}
        <table class="basic-info-table" border="1" cellpadding="8" cellspacing="0">
            <!-- タイトル -->
            <tr>
                <th><label>音声ガイドタイトル</label> <p class="required-point">＊</p></th>
                <td>
                <input type="text" name="title" required  placeholder="例：天守の歴史">
                </td>
            </tr>

            <!-- 説明 -->
            <tr>
                <th><label>ガイド説明</label><p class="required-point">＊</p></th>
                <td>
                <textarea name="guide_explanation"rows="5"placeholder="音声ガイドの内容説明を入力してください"></textarea>
                </td>
            </tr>
        </table>

        <!-- ボタン -->
        <div class="form-group">
            <button type="submit" class="btn btn-register">
                登録
            </button>

            <a
                href="{% url 'admin_audio_guide:audio_guide_list' oshiro.id %}"
                class="btn btn-cancel"
            >
                戻る
            </a>
        </div>

    </form>
</div>
{% endblock %}
