{% extends "admin_base.html" %}
{% block title %}音声ガイド削除確認{% endblock %}

{% block content %}
<div class="content-container">

    <h1>音声ガイド削除確認</h1>
    <hr style="width:80%; margin-bottom: 10px; margin-top: 10px;">
    <div class="form-group">
        <div class="delete-warning" style="background-color: #fff5f5; border: 1px solid #feb2b2; padding: 20px; border-radius: 8px; margin-bottom: 20px;">
            <p style="color: #c53030; font-weight: bold; font-size: 1.1em;">以下のイベントを完全に削除します。よろしいですか？</p>
            <hr style="border: 0; border-top: 1px solid #feb2b2; margin: 15px 0;">
            <p>
                <strong>対象のお城：</strong>
                {{ audio_guide.oshiro_info.oshiro_name }}
            </p>
            <p>
                <strong>音声ガイドタイトル：</strong>
                {{ audio_guide.title }} 
            </p>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <button type="submit" class="btn btn-delete">
                削除
            </button>

            <a href="{% url 'admin_audio_guide:audio_guide_list' oshiro_id %}"class="btn btn-cancel">
                戻る
            </a>
        </div>
    </form>

</div>
{% endblock %}
