{% extends "admin_base.html" %}
{% block title %}音声ガイド一覧{% endblock %}

{% block content %}
<div class="content-container">
<h1>{{ oshiro.oshiro_name }}：音声ガイド一覧</h1>
<hr style="width: 80%;">
<div style="display: flex; gap: 10px; align-items: center;">
    <a class="btn btn-register" href="{% url 'admin_audio_guide:audio_guide_registar' oshiro.id %}">
        ＋ 新規音声ガイド登録
    </a>
    <a href="{% url 'admin_audio_guide:audio_guide' %}" class="btn btn-cancel">
        お城一覧画面へ戻る
    </a>
</div>


<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.title }}</td>
            <td>
                <a href="{% url 'admin_audio_guide:audio_guide_update' oshiro.id row.id %}"class="btn btn-update">
                    更新
                </a>
                <a href="{% url 'admin_audio_guide:audio_guide_delete' oshiro.id row.id %}"class="btn btn-delete">
                    削除
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">音声ガイドはまだ登録されていません</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
