{% extends "admin_base.html" %}
{% load static %}
{% block title %}管理者イベント詳細{% endblock %}
{% block content %}
<div class="content-container">
    <h1 class="page-title">イベント詳細確認</h1>
    <hr style="width:80%; margin-bottom: 10px; margin-top: 10px;">
<div class="detail-container card">
        <div class="detail-header">
            <h2>{{ event.event_info }}</h2>
            <div class="status-badge">
                {% if event.public_settings %}
                    <span class="badge badge-public" style="color:  rgb(51, 166, 51);">公開中</span>
                {% else %}
                    <span class="badge badge-private" style="color: red;">非公開</span>
                {% endif %}
            </div>
        </div>

        <div class="detail-body">
            <div class="detail-item">
                <label>開催場所</label>
                <p>{{ event.venue }}</p>
            </div>
            <div class="detail-item">
                <label>開催期間</label>
                <p>{{ event.start_date|date:"Y/m/d" }} 〜 {{ event.end_date|date:"Y/m/d" }}</p>
            </div>
            <div class="detail-item">
                <label>開催時間</label>
                <p>{{ event.start_time|time:"H:i" }} 〜 {{ event.end_time|time:"H:i" }}</p>
            </div>
            <div class="detail-item">
                <label>イベント内容</label>
                <p style="white-space: pre-wrap;">{{ event.event_overview }}</p>
            </div>
        </div>

        <div class="form-buttons" style="margin-top: 30px;">
            <a href="{% url 'event_info_management:admin_event_info_update' event.pk %}" class="btn btn-update" >編集する</a>
            <a href="{% url 'event_info_management:admin_event_info_list' %}" class="btn btn-cancel">一覧に戻る</a>
        </div>
    </div>
</div>
{% endblock %}