{% extends "admin_base.html" %}  
{% load static %}
{% block title %}管理者イベント更新{% endblock %}
{% block content %}
<div class="content-container">
    <h1 class="page-title">管理者イベント更新</h1>  
    <hr style="width:80%; margin-bottom: 10px; margin-top: 10px;">  
    <p style="color:red;">＊がついている項目は必須です</p> 

    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <table class="basic-info-table" border="1" cellpadding="8" cellspacing="0">

                    
                    <!-- イベント名 -->
                    <tr>
                        <th>イベント名<p class="required-point">＊</p></th>
                        <td>
                            <input type="text" id="title" name="event_info" value="{{ object.event_info }}"required>
                        </td>
                    </tr>


                    <!-- お城の選択 -->
                    <th><label for="{{ form.venue.id_for_label }}">開催場所</label>
                        <p class="required-point">＊</p>
                    </th>
                    <td>
                        {{ form.venue }} 
                        {% if form.venue.errors %}
                            <span class="error">{{ form.venue.errors }}</span>
                        {% endif %}
                    </td>
                    </tr>


                    <!-- 開催日 -->
                    <tr>
                    <th><label for="start_date">開始日</label> <p class="required-point">＊</p></th>
                    <td>
                        <input type="date" id="start_date" name="start_date" value="{{ object.start_date|date:'Y-m-d' }}" required>
                    </td>
                    </tr>
                    <tr>
                    <th><label for="end_date">終了日</label> <p class="required-point">＊</p></th>
                    <td>
                        <input type="date" id="end_date" name="end_date" value="{{ object.end_date|date:'Y-m-d' }}" required>
                    </td>
                    </tr>


                    <!-- 開催時間 -->
                    <tr>
                    <th><label>開催時間</label> <p class="required-point">＊</p></th>
                    <td>
                        <input type="time" id="start_time" name="start_time" value="{{ object.start_time|time:'H:i' }}">
                        <span>〜</span>
                        <input type="time" id="end_time" name="end_time" value="{{ object.end_time|time:'H:i' }}">
                    </td>
                    </tr>


                    <!-- 説明 -->
                    <tr>
                    <th><label for="description">イベント説明</label></th>
                    <td>
                        <textarea id="description" name="event_overview" rows="5" cols="70">{{ object.event_overview }}</textarea>
                    </td>
                    </tr>

                    <!-- 画像アップロード -->
                    <tr>
                        <th>イベント画像</th>
                        <td>
                            <input type="file" name="event_image">
                            
                            {% if object.event_image %}
                                <div style="margin-top:8px;">
                                    <div>現在の画像：</div>
                                    <img src="{{ object.event_image.url }}" alt="event" width="220">
                                </div>
                            {% endif %}
                        </td>
                    </tr>


                    <!-- 公開設定 -->
                    <tr>
                    <th><label for="image">公開設定</label></th>
                    <td>
                        <label>
                    <input type="checkbox" name="public_settings" {% if object.public_settings %}checked{% endif %}> 公開する
                    </label>
                    </td>
                    </tr>
                </table>
            <div class="form-buttons">
                <button type="submit" class="btn btn-update">更新</button>
                <a href="{% url 'event_info_management:admin_event_info_list' %}" class="btn btn-cancel">戻る</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}