{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント登録完了</title>

        <link href="{% static 'css/home.css' %}" rel="stylesheet" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <!-- アイコン -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <style>
                /* ボタンカード */
        .menu-grid {
            grid-template-columns: repeat(3, 200px);
        }
    </style>
</head>

<body>  

    <!-- サイドバークラス -->
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <a href="../TOP画面/operator_top.html" class="logo_name">運営用画面</a>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>

        <ul class="nav">
        <li>
            <a href="../TOP画面/operator_top.html">
                <i class="material-symbols-outlined">home</i>
                <span class="link_name">運営TOP画面</span>
            </a>
            <span class="tooltip">運営TOP画面</span>
        </li>
        
        <li>
            <a href="../お城情報機能/oshiro_info_list.html">
                <i class="material-symbols-outlined">edit_document</i>
                <span class="link_name">お城情報機能</span>
            </a>
            <span class="tooltip">お城情報機能</span>
        </li>

            <li>
                <a href="../イベント情報機能/event_info_list.html">
                    <i class="material-symbols-outlined">calendar_month</i>
                    <span class="link_name">イベント情報機能</span>
                </a>
                <span class="tooltip">イベント情報機能</span>
            </li>
            <li>
                <a href="../運営アカウント機能/admin_account_list.html">
                    <i class="material-symbols-outlined">manage_accounts</i>
                    <span class="link_name">アカウント機能</span>
                </a>
                <span class="tooltip">アカウント機能</span>
            </li>
            </li>
        </ul>
    </div>

    <div class="home_content" id="no name">


        <h1 class="page-title">イベント登録</h1>

        <!-- ナビゲーションバーの動き -->
        <script src="../../login_form/JS/home.js"></script>

</body>
</html>
