{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音声ガイド</title>
    <link rel="stylesheet" href="{% static 'css/audio_guide.css' %}">
</head>  
<body>
<div class="voice-chat-card">
    <div class="voice-chat-card-header">
        <img class="avatar">
        <div class="username">鶴ヶ城</div>
        <div class="status"></div>
    </div>
    <div class="voice-chat-card-body">
        <div class="audio-container">
            <audio controls="controls">
                <source type="audio/mp3" src="{% static 'audio/turugajo_history.wav' %}">
                
            </audio>
        </div>
    </div>
</div>
</body>
</html>

